<!-- 
==========================
* Developer * : Amir Mohammad Sharafi Nik
========================== 
-->

{% extends "base.html" %}
{% load static %}
{% load static tailwind_tags %}
{% load humanize %}

{% block content %}

      <hr>
      <!-- Product Section Shopping  -->
      <div class="hidden lg:grid  grid-cols-12 lg:gap-5    mt-[141px]  mr-[108px] ">
        <!-- right product -->
        <div class="col-span-12 lg:col-span-8 w-[615px]  xl:w-[832px] h-auto rounded-2xl py-9 px-6 bg-[#FFFFFF] border border-[#CBCBCB]">
          <p class="text-[#000000] text-[17.8px] font-DanaDemibold mb-[56px] mr-6">سبد خرید شما</p>
          {% for product in cartlist %}
            <div class="flex mt-10">
              <img src="{{product.prod_obj.image.url}}" alt="">
              <div>
                <p class="text-[22px] font-DanaDemibold text-[#212121]">{{product.prod_obj.name}}</p>
                <p class="my-4 font-DanaMedium text-xl">فلاور گاردن</p>
                <div>
                  <span class="inline-block ml-6 text-[#353535] text-base">قیمت:</span>
                  <span class="inline-block lg:text-xl  text-[#121212]  ">{{product.prod_obj.price|intcomma}} تومان</span>
                </div>
                <!-- button shooping -->
                <button class="py-2 px-2 border border-[#CBCBCB] bg-[#FFFFFF] w-[154px] h-[59px] rounded-lg mt-4">
                  <!-- wrapper Icon Shopping -->
                  <div class="flex justify-between items-center">
                    <img src="{% static 'IMG/img shopping/add.png' %}" alt="Add" class="w-6 h-6 cursor-pointer" onclick="changeprodquantity(`{{product.product_id}}`,parseInt(`{{product.quantity}}`)+1)">
                    <p id="countDisplay" class="text-[19px] text-black cursor-pointer">{{product.quantity}} تعداد</p>
                    <img src="{% static 'IMG/img shopping/minus-icon.png' %}" alt="Delete" class="w-6 h-6 cursor-pointer" onclick="changeprodquantity(`{{product.product_id}}`,parseInt(`{{product.quantity}}`)-1)">
                  </div>
                </button>
              </div>
            </div>
            {% if not forloop.last %}
            <div class="border border-[#737993]">
            </div>
            {% endif %}
            {% endfor %}

          </div>
        <!-- left div -->
        <div class="col-span-12  xl:mr-0 lg:col-span-4 w-full lg:w-[312px] h-[384px] rounded-2xl py-7 px-6 bg-[#FFFFFF] border border-[#CBCBCB] space-y-6">
          <div class="flex justify-between">
            <span class="inline-block text-base font-DanaMedium">تعداد گیاه:</span>
            <span class="inline-block text-xl text-[#121212] font-DanaDemibold" >{{total_quantity}} عدد</span>
          </div>
          <div class="flex justify-between ">
            <span class="inline-block text-base font-DanaMedium">مجموع سبد خرید: </span>
            <span id="total-price" class="inline-block text-xl text-[#121212] font-DanaDemibold">{{total_price|intcomma}} تومان</span>
          </div>
          <div class="flex justify-between">
            <span class="inline-block text-base font-DanaMedium">قیمت با تخفیف: </span>
            <span class="inline-block text-xl text-[#121212] font-DanaDemibold total-offer-price"></span>
          </div>
        
          <div class="flex gap-x-2 items-center">
            <input id="coupon-check1" form="coupon-form-1" name="coupon_code" class="w-[264px] h-16 bg-[#EFEFEF] py-2 px-2 mx-auto rounded-xl  text-[#121212] font-DanaDemibold"
            placeholder="کد تخفیف را وارد کنید">
            <button class="w-full  h-16 bg-Primary rounded-md" type="submit" onclick="validateCoupon1()">
              <p class="text-center text-xs text-white font-DanaDemibold  hover:text-black  transition-colors ">بررسی</p>
            </button>    
          </div>
          </input> 
          <form id="coupon-form-1" action="{% url 'cart:cart-list' %}" method="post">
            {% csrf_token %}
            <button class="w-[264px] h-16 bg-Primary text-[19px] text-white py-2 px-2 mx-auto rounded-xl" type="submit">
              سفارش و خرید
            </button>
          </form>
        </div>
      </div>      
     <!-- Shopping Cart Section -->
     <div class="lg:hidden px-4 mb-10">
       <div class="container mx-auto">
         <p class="mr-4 mt-16 mb-8 text-lg md:text-2xl font-DanaBold">سبد خرید شما</p>
         
         {% for product in cartlist %}
        <!--  prodvut  -->
        <div class="flex gap-4 items-center">
          <!-- Img Pruduct -->
          <img src="{{product.prod_obj.image.url}}" alt="گیاه طبیعی یوکا" class="w-32 md:w-40 rounded-lg">
    
          <!--  Info Product -->
          <div class="flex flex-col">
            <p class="text-base md:text-lg font-DanaDemibold text-gray-800">{{product.prod_obj.name}}</p>
            <p class="my-2 text-sm md:text-base font-DanaMedium text-gray-600">فلاور گاردن</p>
    
            <div class="flex items-center gap-x-2">
              <span class="text-sm md:text-base">قیمت:</span>
              <span class="text-sm md:text-base text-orange-600 font-semibold">{{product.prod_obj.price|intcomma}} تومان</span>
            </div>
    
            <!--  Button Section -->
            <button class="flex items-center justify-between gap-2 py-2 px-3 mt-4 border border-gray-300 rounded-lg bg-white w-36 md:w-40 h-12">
              <img src="{% static 'IMG/img shopping/add.png' %}" alt="افزایش تعداد" onclick="changeprodquantity(`{{product.product_id}}`,parseInt(`{{product.quantity}}`)+1)">
              <p id="countDisplay" class="text-sm md:text-base text-black">{{product.quantity}} تعداد</p>
              <img src="{% static 'IMG/img shopping/minus-icon.png' %}" alt="کاهش تعداد" onclick="changeprodquantity(`{{product.product_id}}`,parseInt(`{{product.quantity}}`)-1)">
            </button>
          </div>
        </div>
        {% endfor %}
      </div>
      </div>      
       <!-- spcace Hr -->
       <hr>
       <div class="mt-10 lg:hidden"> 
           <div class="container space-y-6">
             <!--  Details  -->
             <div class="flex justify-between">
               <span class="inline-block text-base font-DanaMedium">تعداد گیاه:</span>
               <span class="inline-block text-base md:text-xl text-[#121212] font-DanaDemibold">{{total_quantity}} عدد</span>
             </div>
             <div class="flex justify-between">
               <span class="inline-block text-base font-DanaMedium">مجموع سبد خرید:</span>
               <span class="inline-block text-base md:text-xl text-[#121212] font-DanaDemibold">{{total_price|intcomma}} تومان</span>
             </div>
             <div class="flex justify-between">
               <span class="inline-block text-base font-DanaMedium">قیمت با تخفیف: </span>
               <span class="inline-block text-base md:text-xl text-[#121212] font-DanaDemibold total-offer-price"></span>
             </div>   
           <!-- btn  -->
           <div class="space-y-4">
            <!-- btn for by  -->
            <div class="flex gap-x-2 items-center">
              <input id="coupon-check2" form="coupon-form-2" name="coupon_code" class="w-full h-10 bg-[#EFEFEF] py-2 px-2 rounded-xl text-[#121212] font-DanaDemibold"
              placeholder="کد تخفیف را وارد کنید">
                <button class="w-12 h-10 rounded-md bg-Primary" type="submit" onclick="validateCoupon2()">
                  <p class="text-center text-white hover:text-black transition-colors text-xs">بررسی</p>
                </button>
            </div>
               <!-- btn for Self  -->
               <form id="coupon-form-2" action="{% url 'cart:cart-list' %}" method="post">
                {% csrf_token %}
               <button class="w-full h-10 bg-Primary py-2 px-2 rounded-xl" type="submit">
                 <p class="text-white text-[14px] text-center font-DanaDemibold">سفارش و خرید</p>
               </button>
              </form>
             </div>
           </div>
       </div>       
       {% endblock content %}
       {% block js %}
       <script>
         function changeprodquantity(product_id,quantity) {
           $.ajax({
           type: "POST",
           url: "/cart/" + product_id + "/add/",
           data: {
             'product_id': product_id,
             'quantity': quantity,
             csrfmiddlewaretoken: '{{ csrf_token }}',
           },
           success: function(response){
             console.log(response)
             window.location.reload();
           },
           error: function(jqXHR,textStatus,errorThrown) {
             console.log(response)
         }
       });
       }
       </script>
<script>

function replaceTag(discountedPrice) {
    $('.total-offer-price').text(discountedPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ' تومان'); // Example value
}

function validateCoupon1() {
  $.ajax({
  type: "POST",
  url: "{% url 'cart:check' %}",
  data: {
    'coupon_code': $('#coupon-check1').val(),
    csrfmiddlewaretoken: '{{ csrf_token }}',
  },
  success: function(response){
    Toastify({
              text:response.message,
              className: `info`,
              style: {
                background: "#FF9800",
              }
            }).showToast();
           
            replaceTag(response.discounted_price);
  },
  error: function(jqXHR,textStatus,errorThrown) {
    Toastify({
              text:response,
              className: `error`,
              style: {
                background: "#F44336",
              }
            }).showToast();
  }
});
}

function validateCoupon2() {
  $.ajax({
  type: "POST",
  url: "{% url 'cart:check' %}",
  data: {
    'coupon_code': $('#coupon-check2').val(),
    csrfmiddlewaretoken: '{{ csrf_token }}',
  },
  success: function(response){
    Toastify({
              text:response.message,
              className: `info`,
              style: {
                background: "#FF9800",
              }
            }).showToast();
           
            replaceTag(response.discounted_price);
  },
  error: function(jqXHR,textStatus,errorThrown) {
    Toastify({
              text:response,
              className: `error`,
              style: {
                background: "#F44336",
              }
            }).showToast();
  }
});
}
</script>


       {% endblock js %}                        
</html>