<!-- 
==========================
* Developer * : Amir Mohammad Sharafi Nik
========================== 
-->
{% extends "base.html" %}
{% load static %}
{% load static tailwind_tags %}
{% load humanize %}

{% block content %}
<!-- Space -->
<hr>
<!-- Start Main -->
<main>
  <!-- Section About SHOP -->
  <section class="mt-[4rem] lg:-mt-[4rem]" id="section-main">
    <div class="container flex items-center justify-center min-h-screen">
      <div class="grid lg:grid-cols-12 gap-4">
        <!-- Right About -->
        <div
          class="lg:col-span-7 order-2 lg:order-1 text-center lg:text-right flex items-start justify-center lg:justify-start">
          <div class="lg:mt-[3rem]">
            <!-- Heading -->
            <h1 class="font-DanaDemibold text-[24px] sm:text-[32px] lg:text-[38px]">
              خرید گیاه, با
              <span class="text-Primary sm:text-[35px] lg:text-[42px]">گیاه لند!</span>
            </h1>

            <!-- Description -->
            <div class="mt-4 sm:mt-[1.5rem]">
              <span
                class="font-DanaMedium text-base sm:text-lg lg:text-xl leading-[28px] sm:leading-[32px] lg:leading-[34px]"
                style="color: #121212;">
                با گیاه لند، آنلاین گیاه خودت رو سفارش بده و از تخفیف‌های ویژه استفاده کن. علاوه بر این‌ها می‌تونی به
                صورت رایگان از گیاه پزشک سایت مشاوره بگیری.
              </span>
            </div>
            <!-- Buttons -->
            <div class="flex flex-col sm:flex-row justify-center lg:justify-start gap-y-3 sm:gap-x-5 mt-6 sm:mt-10">
              <div class="bg-Primary w-full sm:w-[235px] h-[56px] rounded-xl flex items-center justify-center">
                <span class="text-white font-DanaMedium cursor-pointer text-[14px] md:text-[18px]">گیاهان تخفیف
                  دار</span>
              </div>
              <div
                class="bg-transparent w-full sm:w-[235px] h-[56px] rounded-xl flex items-center justify-center gap-x-3 border-4 border-dashed border-Primary">
                <span class="text-Primary font-DanaMedium cursor-pointer text-[14px] md:text-[18px]">مشاوره با گیاه
                  پزشک</span>
                <img src="{% static 'IMG/Svg/Vector (1).png' %}" alt="">
              </div>
            </div>
            <!-- Statistics -->
            <div class="mt-10 lg:mt-12">
              <div class="flex flex-wrap justify-center lg:justify-start gap-6 lg:gap-24">
                <div class="text-center">
                  <p class="text-Primary text-[24px] sm:text-[28px] lg:text-[32px] font-DanaDemibold">۱۲۸ +</p>
                  <p class="text-Primary font-DanaDemibold text-base lg:text-[20px]">گیاه کادویی</p>
                </div>
                <div class="text-center">
                  <p class="text-Primary text-[24px] sm:text-[28px] lg:text-[32px] font-DanaDemibold">۲۳۴ +</p>
                  <p class="text-Primary font-DanaDemibold text-base lg:text-[20px]">گیاه تزئینی</p>
                </div>
                <div class="text-center">
                  <p class="text-Primary text-[24px] sm:text-[28px] lg:text-[32px] font-DanaDemibold">۹۴۳ +</p>
                  <p class="text-Primary font-DanaDemibold text-base lg:text-[20px]">گیاه کادویی</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Left Section (Image) -->
        <div class="lg:col-span-5 flex items-center justify-center order-1 lg:order-2">
          <div>
            <img src="{% static 'IMG/header.png' %}" class="rounded-full sm:rounded-none w-full" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Start section Zemanat -->
  <section class="mt-[10rem]">
    <div class="container">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Item 1: Home Delivery -->
        <div class="flex flex-col items-center justify-center text-center">
          <div class="w-[80px] h-[80px] bg-Special rounded-full flex items-center justify-center overflow-hidden">
            <img src="{% static 'IMG/Svg/svg.Zemanat (2).png' %}" alt="  " width="33" height="25">
          </div>
          <p class="text-base sm:text-[20px] font-DanaDemibold mt-4">تحویل درب منزل</p>
          <p class="text-sm sm:text-base font-DanaMedium text-black mt-[6.3px]">
            با ایجاد آدرس منزل خود در پروفایل کاربری، محصول خود را درب منزل تحویل بگیرید
          </p>
        </div>
        <!-- Item 2: Product Guarantee -->
        <div class="flex flex-col items-center justify-center text-center">
          <div class="w-[80px] h-[80px] bg-Special rounded-full flex items-center justify-center overflow-hidden">
            <img src="{% static 'IMG/Svg/svg.Zemanat.png' %}" alt=" " width="33" height="25">
          </div>
          <p class="text-base sm:text-[20px] font-DanaDemibold mt-4">ضمانت محصول</p>
          <p class="text-sm sm:text-base font-DanaMedium text-black mt-[6.3px]">
            به مدت دو هفته پس از دریافت محصول در صورت وجود مشکل می‌توانید مرجوع کنید
          </p>
        </div>
        <!-- Item 3: Pay on Delivery -->
        <div class="flex flex-col items-center justify-center text-center">
          <div class="w-[80px] h-[80px] bg-Special rounded-full flex items-center justify-center overflow-hidden">
            <img src="{% static 'IMG/Svg/svg.Zemanat (1).png' %}" alt="  " width="33" height="25">
          </div>
          <p class="text-base sm:text-[20px] font-DanaDemibold mt-4">پرداخت درب منزل</p>
          <p class="text-sm sm:text-base font-DanaMedium text-black mt-[6.3px]">
            برای ایجاد اطمینان خاطر مشتریان، علاوه بر پرداخت آنلاین امکان پرداخت درب منزل وجود دارد
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Style Section Frame -->
  <div class=" mt-[10rem]">
    <div class="container">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-2">
        <!--img section Frame -->
        <div class="flex justify-center items-center">
          <img src="{% static 'IMG/Frame 142.png' %}" alt="" class="max-w-full">
        </div>
        <!--Left  img section Frame -->
        <div class="flex justify-center items-center">
          <img src="{% static 'IMG/Frame 144.png' %}" alt="" class="max-w-full">
        </div>
      </div>
    </div>
  </div>
  <!-- Section Giah Apartemani -->
  <section class="mt-[10rem]">
    <div class="container">
      <!-- Title -->
      <h3 class="text-Primary text-base sm:text-[24px] text-center font-DanaDemibold lg:mr-[2.5rem] mb-[3.5rem]">
        گیاهان آپارتمانی
      </h3>
      <!-- Wrapper Btn Scroll -->
      <div class="flex justify-between mb-5 cursor-pointer">
        <img src="{% static 'IMG/button (1).png' %}" id="scroll-right-btn-3" alt="Scroll Right Button"
          class="cursor-pointer rotate-180 hidden md:block">
        <img src="{% static 'IMG/button (1).png' %}" id="scroll-left-btn-3" alt="Scroll Left Button"
          class="cursor-pointer hidden md:block">
      </div>
      <!-- Product Flex -->
      <div class="flex gap-6 p-4  items-center   overflow-auto  md:overflow-hidden  scroll-smooth" id="product-2">
        <!-- Card Template -->
        {% for product in Apartemani %}
        <div class="min-w-[250px] h-auto p-4 bg-[#D9D9D9] rounded-xl">
          <img src="{{product.image.url}}" class="p-4 w-[250px] pb-6 rounded-xl" style="border-radius: 1.5rem;" alt=" ">
          <p class="mt-6 text-base sm:text-[19px] font-DanaDemibold text-center">{{product.name}}</p>
          <div class="flex justify-between mt-6">
            <p class="font-DanaDemibold">قیمت:</p>
            <p class="font-DanaDemibold">{{product.price|intcomma}} تومان</p>
          </div>
          <div class="flex justify-center mt-4">
            <button
              class="bg-Primary w-full max-w-[256px] h-10 rounded-2xl font-DanaMedium text-[14px] text-white flex items-center justify-center hover:bg-[#356947]">
              <a href="{% url 'website:product-detail' product.slug %}">مشاهده بیشتر </a>
            </button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- Section Services  -->
  <section class="mt-[10rem] ">
    <div class="container">
      <!-- Header Services -->
      <h1 class="text-Primary text-base sm:text-[24px] text-center font-DanaDemibold lg:mr-[2.5rem] mb-[2.8rem]">
        خدمات گیاه پزشکی
      </h1>
      <!-- Grid Services -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-y-6">
        <!-- Service 1 -->
        <div class="flex items-center gap-6">
          <div class="w-[68px] h-[68px] rounded-full bg-[#E5F2E9] flex items-center justify-center p-4">
            <img src="{% static 'IMG/Svg/Svg Services/Svg SERVICES (3).png' %}" class="sm:w-6 h-6" alt="">
          </div>
          <div>
            <p class="font-DanaDemibold text-xs sm:text-base leading-6">چک کردن اسید خاک</p>
            <p class="font-DanaMedium text-xs sm:text-[14px] leading-6 text-[#353535] mt-2">
              با استفاده از ابزار مخصوص اسید خاک گیاه چک میشود
            </p>
          </div>
        </div>
        <!-- Service 2 -->
        <div class="flex items-center gap-6">
          <div class="w-[68px] h-[68px] rounded-full bg-[#E5F2E9] flex items-center justify-center p-4">
            <img src="{% static 'IMG/Svg/Svg Services/Svg SERVICES (1).png' %}" class="sm:w-6 h-6" alt="">
          </div>
          <div>
            <p class="font-DanaDemibold text-xs sm:text-base leading-6">برسی مواد معدنی خاک</p>
            <p class="font-DanaMedium text-xs sm:text-[14px] leading-6 text-[#353535] mt-2">
              یکی از موارد مهم خاک، مقدار مواد معدنی آن است که با دقت برسی میشود
            </p>
          </div>
        </div>
        <!-- Service 3 -->
        <div class="flex items-center gap-6">
          <div class="w-[68px] h-[68px] rounded-full bg-[#E5F2E9] flex items-center justify-center p-4">
            <img src="{% static 'IMG/Svg/Svg Services/Svg SERVICES (4).png' %}" class="sm:w-6 h-6" alt="  ">
          </div>
          <div>
            <p class="font-DanaDemibold text-xs sm:text-base leading-6">مشاهده بهترین دما</p>
            <p class="font-DanaMedium text-xs sm:text-[14px] leading-6 text-[#353535] mt-2">
              از موارد مهم برای گیاه مقدار دمای محیط است که باید اندازه گیری شود
            </p>
          </div>
        </div>
        <!-- Service 4 -->
        <div class="flex items-center gap-6">
          <div class="w-[68px] h-[68px] rounded-full bg-[#E5F2E9] flex items-center justify-center p-4">
            <img src="{% static 'IMG/Svg/Svg Services/Svg SERVICES (2).png' %}" class="sm:w-6 h-6" alt="">
          </div>
          <div>
            <p class="font-DanaDemibold text-xs sm:text-base leading-6">برسی آسیب های احتمالی</p>
            <p class="font-DanaMedium text-xs sm:text-[14px] leading-6 text-[#353535] mt-2">
              تمامی آسیب های احتمالی برسی میگردد تا از وقوع مشکلات آینده جلوگیری شود
            </p>
          </div>
        </div>
        <!-- Service 5 -->
        <div class="flex items-center gap-6">
          <div class="w-[68px] h-[68px] rounded-full bg-[#E5F2E9] flex items-center justify-center p-4">
            <img src="{% static 'IMG/Svg/Svg Services/Svg secrives 4 .png' %}" class="sm:w-6 h-6" alt="">
          </div>
          <div>
            <p class="font-DanaDemibold text-xs sm:text-base leading-6">از بین بردن عناصر آلوده خاک</p>
            <p class="font-DanaMedium text-xs sm:text-[14px] leading-6 text-[#353535] mt-2">
              با استفاده از روش های نوین، عناصر آلوده از خاک گیاهان شما جمع آوری می‌شوند
            </p>
          </div>
        </div>
        <!-- Service 6 -->
        <div class="flex items-center gap-6">
          <div class="w-[68px] h-[68px] rounded-full bg-[#E5F2E9] flex items-center justify-center p-4">
            <img src="{% static 'IMG/Svg/Svg Services/Svg ServicES  (3).png' %}" class="sm:w-6 h-6" alt="">
          </div>
          <div>
            <p class="font-DanaDemibold text-xs sm:text-base leading-6">برسی ظاهر</p>
            <p class="font-DanaMedium text-xs sm:text-[14px] leading-6 text-[#353535] mt-2">
              ظاهر گیاه بیانگر مسائل مهمی است. می‌توان با مشاهده ظاهر گیاه آفات و ... را متوجه شد
            </p>
          </div>
        </div>
        <!-- Service 7 -->
        <div class="flex items-center gap-6">
          <div class="w-[68px] h-[68px] rounded-full bg-[#E5F2E9] flex items-center justify-center p-4">
            <img src="{% static 'IMG/Svg/Svg Services/Svg Services 2 (4).png' %}" class="sm:w-6 h-6" alt="">
          </div>
          <div>
            <p class="font-DanaDemibold text-xs sm:text-base leading-6">اندازه گیری EC</p>
            <p class="font-DanaMedium text-xs sm:text-[14px] leading-6 text-[#353535] mt-2">
              این اندازه گیری نشانی از مقدار کل مواد مغذی موجود برای گیاهان می‌دهد
            </p>
          </div>
        </div>
        <!-- Service 8 -->
        <div class="flex items-center gap-6">
          <div class="w-[68px] h-[68px] rounded-full bg-[#E5F2E9] flex items-center justify-center p-4">
            <img src="{% static 'IMG/Svg/Svg Services/Svg Services End  (1).png' %}" class="sm:w-6 h-6" alt="">
          </div>
          <div>
            <p class="font-DanaDemibold text-xs sm:text-base leading-6">ارائه مکمل</p>
            <p class="font-DanaMedium text-xs sm:text-[14px] leading-6 text-[#353535] mt-2">
              برای رشد بهتر گیاهان و رفع آفات از مکمل‌ها می‌توان استفاده کرد
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section Giah Tazini -->
  <section class="mt-[10rem]">
    <div class="container">
      <!-- Title -->
      <h3 class="text-Primary text-base sm:text-[24px] text-center font-DanaDemibold lg:mr-[2.5rem] mb-[2.5rem]">
        گیاهان تزئینی
      </h3>
      <!-- Wrapper Btn Scroll -->
      <div class="flex justify-between mb-5 cursor-pointer">
        <img src="{% static 'IMG/button (1).png' %}" id="scroll-left-btn" class="hidden md:block rotate-180"
          alt="Scroll Left Button">
        <img src="{% static 'IMG/button (1).png' %}" id="scroll-right-btn" class="hidden md:block "
          alt="Scroll Right Button">
      </div>
      <!-- Products Grid -->
      <div class="flex gap-6  overflow-auto md:overflow-hidden  scroll-smooth " id="product-container">
        <!-- Product Card 1 -->
        {% for product in Tazini %}
        <div class="min-w-[250px] h-auto p-4 bg-[#D9D9D9] rounded-xl">
          <img src="{{product.image.url}}" class="p-4 w-[250px] pb-6 rounded-xl" style="border-radius: 1.5rem;" alt=" ">
          <p class="mt-6 text-base sm:text-[19px] font-DanaDemibold text-center">{{product.name}}</p>
          <div class="flex justify-between mt-6">
            <p class="font-DanaDemibold">قیمت:</p>
            <p class="font-DanaDemibold">{{product.price|intcomma}} تومان</p>
          </div>
          <div class="flex justify-center mt-4">
            <button
              class="bg-Primary w-full max-w-[256px] h-10 rounded-2xl font-DanaMedium text-[14px] text-white flex items-center justify-center hover:bg-[#356947]">
              <a href="{% url 'website:product-detail' product.slug %}">مشاهده بیشتر </a>
            </button>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </section>
  <!-- Section Kado  -->
  <section class="mt-[10rem]">
    <div class="container">
      <!-- Title -->
      <h3 class="text-Primary text-base sm:text-[24px] text-center font-DanaDemibold lg:mr-[2.5rem] mb-[2.5rem]">
        گیاهان کادویی
      </h3>

      <!-- Wrapper Btn Scroll -->
      <div class="flex justify-between mb-5 cursor-pointer">
        <img src="{% static 'IMG/button (1).png' %}" id="scroll-right-btn-2" alt="Scroll Right Button"
          class="cursor-pointer rotate-180 hidden md:block">
        <img src="{% static 'IMG/button (1).png' %}" id="scroll-left-btn-2" alt="Scroll Left Button"
          class="cursor-pointer hidden md:block">
      </div>
      <!-- Products Grid -->
      <div class="flex gap-6 p-4  items-center overflow-auto md:overflow-hidden  scroll-smooth" id="product">
        <!-- Product 1 -->
        {% for product in Kadoe %}
        <div class="min-w-[250px] h-auto p-4 bg-[#D9D9D9] rounded-xl">
          <img src="{{product.image.url}}" class="p-4 w-[250px] pb-6 rounded-xl" style="border-radius: 1.5rem;" alt=" ">
          <p class="mt-6 text-base sm:text-[19px] font-DanaDemibold text-center">{{product.name}}</p>
          <div class="flex justify-between mt-6">
            <p class="font-DanaDemibold">قیمت:</p>
            <p class="font-DanaDemibold">{{product.price|intcomma}} تومان</p>
          </div>
          <div class="flex justify-center mt-4">
            <button
              class="bg-Primary w-full max-w-[256px] h-10 rounded-2xl font-DanaMedium text-[14px] text-white flex items-center justify-center hover:bg-[#356947]">
              <a href="{% url 'website:product-detail' product.slug %}">مشاهده بیشتر </a>
            </button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>
{% endblock content %}
{% block js %}
<script>
  const container = document.getElementById('product-container');
  const scrollLeftBtn = document.getElementById('scroll-left-btn');
  const scrollRightBtn = document.getElementById('scroll-right-btn');
  // Adjust scroll direction for RTL
  scrollRightBtn.addEventListener('click', () => {
    container.scrollBy({ left: -300, behavior: 'smooth' });
  });

  scrollLeftBtn.addEventListener('click', () => {
    container.scrollBy({ left: 300, behavior: 'smooth' });
  });
  document.getElementById('scroll-left-btn-2').addEventListener('click', function () {
    document.getElementById('product').scrollBy({
      left: -250,
      behavior: 'smooth'
    });
  });
  document.getElementById('scroll-right-btn-2').addEventListener('click', function () {
    document.getElementById('product').scrollBy({
      left: 250,
      behavior: 'smooth'
    });
  })
  document.getElementById('scroll-left-btn-3').addEventListener('click', function () {
    document.getElementById('product-2').scrollBy({
      left: -250,
      behavior: 'smooth'
    });
  });
  document.getElementById('scroll-right-btn-3').addEventListener('click', function () {
    document.getElementById('product-2').scrollBy({
      left: 250,
      behavior: 'smooth'
    });
  });
</script>
{% endblock js %}