<!-- 
==========================
* Developer * : Amir Mohammad Sharafi Nik
========================== 
-->

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 صفحه</title>
    <link rel="stylesheet" href="./styles/app.css">
    <link rel="icon" href="./IMG/header.png">
</head>
<body class="bg-gray-100 font-Dana transition-all">
    <!-- Desktop  Header-->
    <header class="hidden md:block bg-gray-100 px-5 lg:px-10 py-[24px]">
      <nav class="flex justify-between flex-nowrap gap-x-2 md:gap-x-5 px-12 items-center">
        <div>
          <ul class="flex gap-x-2 lg:gap-x-5 items-center text-base lg:text-[20px]">
            <li><a href="#" class="font-DanaDemibold text-Primary text-[27px] lg:text-[30px] whitespace-nowrap">گیاه لند</a></li>
            <li class="font-DanaMedium"><a href="#section-main" class="text-Primary whitespace-nowrap">صفحه اصلی</a></li>
            <li class="font-DanaMedium whitespace-nowrap hover:text-Primary transition-colors"><a href="">درباره ما</a></li>
            <li class="font-DanaMedium whitespace-nowrap hover:text-Primary transition-colors"><a href="#">وبلاگ</a></li>
            <li class="font-DanaMedium whitespace-nowrap hover:text-Primary transition-colors"><a href="#section-footer">تماس با ما</a></li>
          </ul>
        </div>
        <input class="bg-[#dddadae7] focus:bg-slate-200 focus:outline-none bg-gray-100 font-DanaDemibold focus:transition-colors p-3 rounded-xl mt-3 text-[#737993] border border-Primary  w-[25%]" placeholder="سرچ گیاه" type="search">

        <div class="flex items-center gap-x-4 text-[20px] cursor-pointer">
          <div class="flex gap-x-3">
            <div style="border:1px solid #417F56;padding:10px 12px;border-radius:12px;flex-shrink:0;">
              <a href="shopping.html"><img src="./IMG/Svg/HedaerSVG (3).png" class="w-[22px] h-[22px]" alt=""></a>
            </div>
          </div>
          <div class="flex gap-x-2 items-center border border-Primary rounded-lg" style="padding:10px 16px;flex-shrink:0;margin-right:10px;">
            <a href="sign.html"><img src="./IMG/Svg/HedaerSVG (2).png" class="w-[18px] h-[22px]" alt=""></a>
            <a href="sign.html" class="hidden xl:inline-block text-Primary text-[18px]">ورود | ثبت نام</a>
          </div>
        </div>
      </nav>
    </header>
    <!-- Mobile Navbar    -->
    <header class="block md:hidden bg-gray-100 px-5 py-[16px]">
      <nav class="flex justify-between items-center px-4">
        <div class="flex items-center gap-x-4">
          <div style="background-color:#dddadae7;padding:15px 10px;border-radius:9.5px;cursor:pointer;" id="menu-toggle">
            <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.5 10H15.5V8.33333H0.5V10ZM0.5 5.83333H15.5V4.16667H0.5V5.83333ZM0.5 0V1.66667H15.5V0H0.5Z" fill="#121212" />
            </svg>
          </div>
          <a href="#" class="font-DanaDemibold text-Primary text-base">گیاه لند</a>
        </div>
        <div class="cursor-pointer flex items-center gap-x-4">
          <div class="rounded-lg border border-Primary w-8 h-8">
            <img src="./IMG/Svg/HedaerSVG (3).png" alt="" style="margin:5px;">
          </div>
          <div class="border border-Primary rounded-lg w-8 h-8">
            <a href="sign.html">
              <img src="./IMG/Svg/HedaerSVG (2).png" alt="" class="w-5 h-5" style="margin:5px;">
            </a>
          </div>
        </div>
      </nav>
      <div id="mobile-menu" class="hidden bg-gray-100 px-5 py-[16px]">
        <ul class="flex flex-col gap-y-4 text-base font-DanaDemibold items-center">
          <li><a href="index.html" class="font-DanaMedium text-Primary">صفحه اصلی</a></li>
          <li><a href="#footer-id">گیاه پزشک</a></li>
          <li><a href="#">وبلاگ</a></li>
          <li><a href="">تماس با ما</a></li>
        </ul>
      </div>
      <input class="   focus:bg-slate-200 focus:outline-none focus:transition-colors w-full p-3 rounded-xl mt-3 font-DanaDemibold border border-Primary bg-gray-100" type="search" placeholder="سرچ گیاه">
    </header>
    <!-- space -->
      <hr>
      <!-- section 404 -->
     <section class="mt-[80px] md:mt-[150px] md:min-h-screen">
        <div class="container">
          <!--Img section -->
          <div class="flex justify-center items-center">
            <img src="./IMG/Mountain.png" alt="404 Image" class="w-full max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl 2xl:max-w-2xl">
          </div>
          <!-- Info section & buuton -->
          <div class="text-center mt-8">
            <p class="text-black text-base md:text-xl mb-4 font-DanaDemibold">صفحه مورد نظر شما یافت نشد!</p>
            <button class="w-[197px] h-14 bg-white border border-Primary px-3 rounded-xl">
              <p class="text-[14px] md:text-[18px] text-Primary font-DanaMedium">بازگشت به صفحه اصلی</p>
            </button>
          </div>
        </div>
     </section>      
<!-- Js -->
<script src="./scripts/index.js">
</script>
</body>
</html>