{% extends "base.html" %}
{% load static %}
{% load static tailwind_tags %}

{% block content %}
<!--Section main   -->
<section class="md:mt-10">
  <div class="container">
    <!--Img -->
    <h1 class="text-center font-DanaDemibold  mb-10 text-base text-[#212121]  md:text-2xl">پرداخت موفق نبود!</h1>
    <div class="flex justify-center items-center">
      <img src="{% static 'IMG/credit-card.png' %}" class="md:h-[300px]" alt="">
    </div>
  </div>
</section>

{% endblock content %}
</body>

</html>